<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ArchRack</title>
  {% load static %}
  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">
  <!-- Icon Fonts -->
  <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.min.css' %}">

  <!-- Vidlife Style sheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">

</head>

<body class="boxed">

  <!-- Main Wrapper Start -->
  <div class="main-wrapper">

    {% include 'app/partials/navbar.html' %}

    {% include 'app/partials/sidebar.html' %}

  </div>
    <!-- Main Wrapper End -->

    <!-- Vendor Scripts -->
    <script src="{% static 'js/plugins/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.slimScroll.min.js' %}"></script>
    <script src="{% static 'js/plugins/swiper.min.js' %}"></script>

    <!-- Vidlife Scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>
