<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ArchRack</title>
  {% load static %}
  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">
  <!-- Icon Fonts -->
  <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.min.css' %}">

  <!-- Vidlife Style sheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.ico' %}">

</head>

<body class="boxed">

  <!-- Main Wrapper Start -->
  <div class="main-wrapper">

   <!-- Nav Start -->
   {% include 'app/partials/navbar.html' %}
   <!-- Nav End -->

   <!-- Sidebar Start -->
   {% include 'app/partials/sidebar.html' %}
   <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="main-content">
      <div class="main-content-inner">

        <div class="page-title">
          <h1>Browse</h1>
          <a href="#" class="btn-custom tertiary"> <i class="fas fa-upload"></i> Upload Video </a>
        </div>

        <!-- Categories Start -->
        <div class="row">

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>652 Videos</span>
              </div>
              <div class="category-info">
                <h6>Entertainment</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>12 Videos</span>
              </div>
              <div class="category-info">
                <h6>Animation</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>47 Videos</span>
              </div>
              <div class="category-info">
                <h6>Art & Design</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>189 Videos</span>
              </div>
              <div class="category-info">
                <h6>Comedy</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>32 Videos</span>
              </div>
              <div class="category-info">
                <h6>Documentary</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>382 Videos</span>
              </div>
              <div class="category-info">
                <h6>Food</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>1,328 Videos</span>
              </div>
              <div class="category-info">
                <h6>Music</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>89 Videos</span>
              </div>
              <div class="category-info">
                <h6>Sports</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>361 Videos</span>
              </div>
              <div class="category-info">
                <h6>Travel</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>198 Videos</span>
              </div>
              <div class="category-info">
                <h6>Fashion</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>939 Videos</span>
              </div>
              <div class="category-info">
                <h6>Tutorials</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

          <!-- Category Item Start -->
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <a href="video-list.html" class="category-item">
              <div class="category-thumb">
                <img src="https://via.placeholder.com/640x426" alt="category">
                <span>883 Videos</span>
              </div>
              <div class="category-info">
                <h6>Talks</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              </div>
            </a>
          </div>
          <!-- Category Item End -->

        </div>
        <!-- Categories End -->

        <!-- Footer Start -->
        <footer class="footer">
          <div class="footer-top">
            <div class="row">
              <div class="col-md-9">
                <img src="https://via.placeholder.com/192x59" alt="logo">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="row">
              <div class="col-md-6">
                <p class="copyright">Made with <i class="fas fa-heart"></i> by AndromedaThemes</p>
              </div>
              <div class="col-md-6">
                <ul class="social-media">
                  <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                  <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                  <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
                  <li> <a href="#"> <i class="fab fa-pinterest-p"></i> </a> </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <!-- Footer End -->

      </div>

    </div>
    <!-- Content End -->

  </div>
  <!-- Main Wrapper End -->

  <!-- Vendor Scripts -->
  <script src="{% static 'js/plugins/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/plugins/popper.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery.slimScroll.min.js' %}"></script>
  <script src="{% static 'js/plugins/swiper.min.js' %}"></script>

  <!-- Vidlife Scripts -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
